:root {
    --blue: #2980b9;
    --lightblue: #3498db;
    --light: #ecf0f1;
    --darkblue: #2c3e50;
    --red: #e74c3c;
}

.col-heading {
    background-color: var(--red);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    color: var(--light) !important;
}

.hover {
    cursor: pointer;
}